<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{name}}.</h1>

    <!-- <input type="button" value="Edit"> <br><br> -->
    {%if perms.enroll.delete_blog %}
        <input type="button" value="Delete"> <br><br>
    {%endif%}

    {%if perms.enroll.add_blog %}
    <input type="button" value="Add"> <br><br>
    {%endif%}
    <!-- <input type="button" value="View"> <br><br> -->

    <a href="{%url "logout"%}"><button>Logout</button></a>
</body>
</html>