<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome, {{name}}.</h1>

    {%if users != None%}
        <table border="1px">
            <caption><h3>List of Users</h3></caption>
            <thead>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </thead>
            {%for user in users%}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                </tr>
            {%endfor%}
        </table> 
    {%endif%}
    <br>

    <div style="border: 1px solid; padding: 10px;">
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors%}
                {%for error in form.non_field_errors%}
                    {{error}}
                {%endfor%}
            {%endif%}
            <br>
            {% for fm in form%}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            {%endfor%}
            <input type="submit" value="Save">
        </form>
        <br>
        {%if messages%}
        {%for message in messages%}
            {{message}}
        {%endfor%}
    {%endif%}
    </div>
    
    <br>
    <a href="{%url "logout"%}"><button>Logout</button></a>
    <br><br>
    <a href="{%url "changepass"%}">Change Password</a>
</body>
</html>